<!DOCTYPE html>
<html lang="ita">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>BOOLZAPP</title>
</head>

<body>
    <!--DIV APP PER VUE-->
    <div id="app">

        <!--HEADER-->
        <header>
                <div class="d-flex-header">
                    <section class="nav-verticale-header">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </section>
                    
                    <section class="section-messaggi-header">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </section>
                </div>
        </header>

        <!--MAIN-->
        <main>
            <div class="d-flex-main">

                <!--INIZIO NAVBAR VERTICALE-->
                <nav class="nav-verticale-main">
                    <div class="background-color-alert">
                        <i class="fa-solid fa-bell-slash"></i>
                        <section class="alert">
                            <p>
                                Ricevi notifiche di nuovi messaggi
                            </p>
                            <a href="">Attiva notifiche desktop</a>
                        </section>
                    </div>
                    <div class="input-search">
                        <input type="search" name="search" id="search" placeholder="🔍 Cerca o inizia una nuova chat" @keyup="autoComplete">
                    </div>
                    <ul>
                        <li class="li-avatar" v-for="(item, index) in contacts" @click='funzioneClick(index)'>
                            <img class="img-avatar" :src="item.avatar" alt="avatar">
                            {{item.name}}
                        </li>
                    </ul>
                </nav>

                <!--PARTE DEDICATA INVIO MESSAGGI-->
                <section class="section-messaggi-main">

                    <section>
                        <div>
                            <template v-for="(item, index) in contacts[activeContactIndex].messages">
                                <p class="message-sent" v-if="item.status === 'sent' ">{{item.message}}</p>
                                <p class="message-received" v-if="item.status === 'received' ">{{item.message}}</p>
                            </template>
                        </div>
                    </section>
                    
                    <section class="prova">
                        <i class="fa-regular fa-face-smile"></i>
                        <input id="input-message" type="text" placeholder="Scrivi un messaggio" @keyup.enter="aggiuntaMessaggio(activeContactIndex )" v-model.trim="contacts[activeContactIndex].messages.message">
                        <i class="fa-solid fa-microphone"></i>
                    </section>

                </section>

                
            </div>
        </main>
    </div>

    <!--SCRIPT JS-->
    <script src="script.js"></script>
</body>
</html>