*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato;
}

/* HEADER */

div.d-flex{
    display: flex;
}

section.nav-verticale{
    width: 35vw;
    height: 8vh;
    background-color: rgb(226, 222, 222);
}

section.section-messaggi{
    width: 65vw;
    height: 8vh;
    background-color: rgb(226, 222, 222);
}

/* MAIN */

div.flex{
    display: flex;
}

div.input-search{
    display: flex;
    justify-content: center;
}

nav.verticale{
    width: 35vw;
    height: 92vh;
    background-color: rgba(255, 255, 255, 0.817);
}

nav > ul > li {
    display: flex;
}

section.testo-messaggi{
    width: 65vw;
    height: 92vh;
    background-image: url(img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

input#search{
    width: 30vw;
}

input#input-message{
    width: 50vw;
}