*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato;
}

/* HEADER */
div.d-flex-header{
    display: flex;
}

section.nav-verticale-header{
    width: 35vw;
    height: 8vh;
    background-color: #e9e9eb;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

section.nav-verticale-header > i{
    margin: .3rem;
}

section.section-messaggi-header{
    width: 65vw;
    height: 8vh;
    background-color: #e9e9eb;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

section.section-messaggi-header > i {
    margin: .3rem;
}

/* MAIN */
img.img-avatar{
    width: 50px;
    border-radius: 2rem;
}

div.d-flex-main{
    display: flex;
}

div.background-color-alert{
    display: flex;
    background-color: #8edafc;
    align-items: center;
    padding: .5rem;
}

div.background-color-alert > i{
    margin-right: .3rem;
    background-color: white;
    border-radius: 2rem;
    padding: .6rem .5rem .6rem .5rem;
}

section.alert{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 3.5rem;
}

div.input-search{
    display: flex;
    justify-content: center;
}

nav.nav-verticale-main{
    width: 35vw;
    height: 92vh;
}

nav > ul > li {
    display: flex;
}

input#search{
    width: 30vw;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border-style: none;
}

input#input-message{
    width: 40rem;
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border-style: none;
}

/*Gestisce elementi dentro l'input*/
section.prova{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3eeea;
    height: 4rem;
    width: 65vw;
}

li.li-avatar{
    padding: .5rem;
    display: flex;
    align-items: center;
}

img.img-avatar{
    margin-left: 1rem;
    margin-right: 1rem;
}

section.section-messaggi-main{
    width: 65vw;
    height: 92vh;
    background-image: url(img/mine.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.message-sent{
    background-color: #d5f9bb;
    width: 17rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: .8rem;
    margin-left: 30.5rem;
}

p.message-received{
    background-color: white;
    width: 17rem;
    padding: 1rem;
    border-radius: .5rem;
    margin: .8rem;
}